body {background-color: yellow;}

.tabs {
	border: 1px solid#blue;
}

.tabs__button {
	display: block;
	padding: 10px;
	cursor: pointer;
}

.tabs__button:active {
	background: #dddd;
}

.tabs__button--active {
	font-weight: bold;
	border-right: 2px solid#blue;
}
 
 .tabs__content {
 	padding: 15px;
 	display: none;
 }

 .tabs__content--active {
 	display: block;
 } 